@import '../variables';

.faq {
	background-color: $color-faq-background;

    div.faq__item {
        background-color: unset;
        h2.accordion-header {
            background-color: $color-faq-header;
        }
        .accordion-button {
            color: #fff;
            background: unset;
        
            &::after {
                display: none;
            }
        }
    }
    
    &__title {
        font-size: 2.5rem;
        font-weight: 300;
        line-height: 1.2;
        
        @media screen and (min-width: 992px) {
            font-size: 3.2rem;
        }
    }

    &-clickable {
        cursor: pointer;
    }
}

